/Trabalho1-ChatBotLancheria/nbproject/private/
/Prova1-Revisao/nbproject/private/
/Aula6-Calculator/build/
/Prova1-Revisao/build/
/Prova1/nbproject/private/
/Prova1/build/
/Aula10/nbproject/private/
/Aula10/build/